<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteCond $1 !^(index\.php|resources|robots\.txt)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
	
	#RewriteCond %{HTTP_HOST} ^sareewali.com [NC,OR]
	#RewriteCond %{HTTP_HOST} ^www.sareewali.com [NC]
	#RewriteCond %{HTTPS} off
	#RewriteRule ^(.*)$ https://www.sareewali.com
</IfModule>